/*MainPage layout styles*/

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../img/wheat.png");
    background-attachment: fixed;
}

.page-desc {
    float: left;
    margin-right: 70px;
    margin-top: 60px;
    text-align: center;
    color: #ffffff;
    font-family: comic sans ms;
}

.textview {
    width: 242px;
    height: 60px;
    text-align: right;
    font-size: 16pt;
    margin-left: 2px;
    padding-right: 2px;
    font-weight: lighter;
    border: 1px solid #00000047;
}

.btn_check {
    width: 60px;
    height: 60px;
    font-size: 14pt;
    margin: 0px;
    background-color: white;
    border: 1px solid #899ea9;
    cursor: pointer;
}

.zero_check {
    width: 122px;
    height: 60px;
    font-size: 14pt;
    cursor: pointer;
}

.eq_check {
    width: 60px;
    height: 121px;
    font-size: 16pt;
    cursor: pointer;
    background-color: orange;
    border: 1px solid orange;
    color: white;
    font-weight: bolder;
}

.page-wrapper {
    width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.sign {
    background-color: #899ea9;
    border: 1px solid #899ea9;
    color: white;
}

.zero_check {
    background-color: white;
    border: 1px solid #899ea9;
}

.page-desc>p {
    margin-top: 20px;
}

.page-desc>p>a {
    color: white;
    margin: 5px;
}

.page-desc>p>a>img {
    width: 25px;
    height: 25px;
}

.clr_check {
    background-color:red;
    border-color:red;
    color:white;
}